.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #242424;
}

.button-spacing {
    display: flex;
    gap: 1rem;
}
