.profile-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.profile-image {
    height: 2rem;
    border-radius: 50%;
    object-fit: contain;
}

.profile-name-image {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.profile-grid {
    display: grid;
    align-items: center;
    grid-template-columns: auto 200px 65px;
    grid-auto-rows: 45px;
    gap: 1rem;
}

.field-name {
    font-weight: bold;
    text-align: end;
}

.field-input {
    width: 200px
}

.field-error {
    font-size: 14px;
    text-align: end;
    color: red;
}

.field-error-placeholder {
    height: 21px;
}

.field-buttons {
    display: flex;
    gap: 5px;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
}

@media screen and (max-width: 450px) {
    .profile-grid {
        grid-template-columns: auto 1fr 65px;
    }

    .field-input {
        width: 100%;
    }
}
